* text=auto
*.md text eol=crlf
*.ps1 text eol=crlf
*.py text eol=crlf
*.tsx text eol=crlf
*.ts text eol=crlf
*.json text eol=crlf
*.yml text eol=crlf
*.yaml text eol=crlf
*.css text eol=crlf
*.sh text eol=lf
